@-moz-document regexp("https://space.bilibili.com/\\d+/favlist.*")
{
/* ====== 用户收藏页面 ====== */
/* 收藏夹sidenav扩展为全长 */
  #page-fav .fav-sidenav
  {
    width: 100%;
  }

/* 收藏夹列表容器 */
  #page-fav .fav-sidenav .fav-list-container
  {
    max-height: 300px;
  }

/* 收藏夹列表 flex布局 */
  #page-fav .fav-list
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
/* 收藏夹项目 内部同样是flex布局 */
  #page-fav .fav-item
  {
    width: 23%;
    display: flex;
    align-items: center;
  }
/* 用伪元素防止最后一行的元素排到两侧去, 只适合flex-start之类的元素偏一侧的flexbox布局 */
  #page-fav .fav-list::after
  {
    content: '';
    flex: auto;
  }

/* 收藏夹文字宽度. 只涉及视频收藏夹(.fav-container), 不涉及专项收藏夹(即话题收藏夹 专栏收藏夹etc)(.playlist-container) */
  #page-fav .fav-container .text
  {
    line-height: 35px;
    width: 150px;
  }

/* 鼠标在收藏夹上悬浮时, 收藏夹显示的视频收藏数保持显示 */
  #page-fav .col-full.master .fav-container .fav-item:hover .num
  {
    display: inline-block;
  }

/* 视频区域. 设置宽度, 设置border-top以此分割收藏夹列表 */
  #page-fav .fav-main
  {
    width: 100%;
    border-top: 10px solid rgba(196, 229, 255, 0.4);
  }

/* 视频列表. grid布局 */
  #page-fav .fav-main .fav-video-list
  {
    display: grid;
    grid-template-columns: repeat(6, auto);
  }
/* 视频列表项. 记得去掉奇葩的第五个视频无margin-right的设置 */
  #page-fav .fav-main .small-item,
#page-fav .fav-main .small-item:nth-child(5n)
  {
    margin: 0px 5px 20px 5px;
    justify-self: center;
  }
}

@-moz-document url-prefix("https://www.bilibili.com/video/")
{
/* ====== 视频收藏界面 ====== */
/* 收藏弹窗宽度 (设置为与窗口宽度有关) */
  .collection-m
  {
    width: 950px;
  }
/* 收藏弹窗中收藏列表的高度 (暂时不用改, 原效果是通过设置margin-bottom实现的) */
/* .collection-m .content {
} */

/* 收藏列表. 采用flex布局 */
  .collection-m .content .group-list ul
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2px;
  }
/* 收藏夹列表项 */
  .collection-m .content .group-list li
  {
    width: 30%;
    height: 25px;
    padding: 3px 10px;
  }
/* 用伪元素防止最后一行的元素排到两侧去
   这种做法只适合三列的space-between形式的flexbox布局,
   缺点是如果元素个数恰好是3的倍数, 那最终下方会多出一个伪元素
   (可是局限性这么大的话我为什么不用grid??) */
  .collection-m .content .group-list ul::after
  {
    content: '';
    width: 30%;
    padding: 0 10px;
  }
/* 收藏夹项目 内部同样是flex布局 */
  .collection-m .content .group-list li label
  {
    display: flex;
    align-items: center;
  }
/* 勾选框. 右侧.fav-title的间距, 加上min-width才能防止标题过长时把它挤扁 */
  .collection-m .content .group-list li input[type=checkbox] + i
  {
    margin-right: 5px;
    min-width: 20px;
  }
/* 收藏夹标题最大长度, 其实它的最大长度是由其它元素动态决定的 */
/* .collection-m .content .group-list li .fav-title {
    max-width: 150px;
} */
/* 收藏夹 [私密]tag 防止它在标题过长时被挤扁换行 */
  .collection-m .content .group-list li label .count
  {
    margin-left: auto;
    white-space: nowrap;
  }
/* 收藏夹 已收藏数量 用margin-left: auto 让其自动居右侧 */
  .collection-m .content .group-list li label .count
  {
    margin-left: auto;
  }

/* 确定按钮*/
  .collection-m .bottom .btn
  {
    position: absolute;
    right: 40px;
  }
/* 新建收藏夹的输入框 */
  .collection-m .content .group-list .add-group
  {
    position: absolute;
    bottom: 18px;
  }
}
